@using WebApplication.Data
@using WebApplication.Network
@inject ProfileData _Profile;
@inject INetworkComp _NetworkComp;


<input @bind-value="profileText"> </input>
<button @onclick="Save">Save</button>
@code {
    private string profileText;
    
    protected override Task OnInitializedAsync()
    {
        _Profile.intro = "BlaBlaBlaBlaBlaBla";
        Console.WriteLine("her");
        return base.OnInitializedAsync();
    }

    private void Save()
    {
        _Profile.intro = profileText;
        
        //Ned i tier2 -- TODO: SKAL ÆNDRE USERNAME
        _NetworkComp.EditIntroduction(new Request
        {
            Username = "Maria",
            o = profileText,
            requestOperation = RequestOperationEnum.EDITINTRODUCTION
        });
    }

}